@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


 

}

li.nav, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fafafa;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
   
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.logo{
    cursor: pointer;
    background-color: black;
  
    
}

.logo1{
    cursor: pointer;
    background-color: black;
    font-size: 1000px 150px;
    position: relative;
    margin-right: 260pt;
    
    
}

.nav_links{
    list-style: none;
    background-color: black;
}

.nav_links li.nav{
    display: inline-block;
    padding: 0px 20px;
    background-color: black;
}

.nav_links li.nav a{
    transition: all 0.3 ease 0s;
    background-color: black;
}

.nav_links li.nav a:hover{
    color: rgba(0,136,169,1);

}



.button1{
        padding: 9px 25px;
        background-color: rgba(0,136,169,1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3 ease 0s;
    }


.button1:hover{
    background-color: rgba(1, 101, 124, 0.5);
    
}


a.cta{
    background-color: #000;
}




a.a1{
    color: rgba(0, 0, 255, 0.548);
}


button.shop{
    font: 1em sans-serif;
    width: 200px;
    height: 60px;
    background-color: lawngreen;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 222px;
    margin-left: 160px;

}

button.shop:hover{
    background-color: rgb(0, 205, 27);
}

img.a1{
background-position: initial;
}

div.clock{
    box-sizing: border-box;
    text-align: center;
    margin-left: 100px;

   
    

}



div.clock1{
    box-sizing: border-box;
    text-align: center;
    margin-left: 200px;
    margin-right: 150;
    
   

}

div.clock2{
    box-sizing: border-box;
    text-align: center;
    margin-left: 150px;
 
    
   

}

div.flex{
    display: flex;

}




h1{
font-family:'Lucida Sans Unicode';
font-size: 25px;
}