h1	{
text-align:center;
color: rgb(30,30,140);
font-size:40px;
font-family: bookman old style;
text-shadow:3px 3px 2px #ccc;
}
h2	{
	text-align:center;
	color: rgb(150, 148, 10);
	font-size:40px;
	font-family: bookman old style;
	text-shadow:3px 3px 2px #ccc;
	}
	h3	{
		text-align:center;
		color: rgb(255, 251, 0);
		font-size:40px;
		font-family: bookman old style;
		text-shadow:3px 3px 2px #ccc;
		}
		h4
			{	
			text-align:center;
			color: rgb(46, 0, 250);
			font-size:24px;
			font-family: comic sans ms;
			}

